/*Custom font called Blanquotey*/
@font-face { 
    font-family: 'Blanquotey'; /* Font family name */
    src: url('../Asset/Fonts/blanquotey/Blanquotey.ttf') format('truetype'); /* Font file path */
}

/*Styling for Heading 1*/
h1 {
    font-family: Blanquotey;
}

/*Styling for Heading 5*/
h5 {
    font-family: Blanquotey;
}

/*Styling for Top Home Banner*/
.homebanner {
    background-color: #343a40;
    color: white;
    padding: 20% 0;
    text-align: center;
    
}

/*Styling for Top Banner*/
.banner {
    background-color: #343a40;
    color: white;
    padding: 10px 0;
    text-align: center;
    transform: translateX(-100%); /*slide out of view from the left */
    transition: transform 1s ease-in-out; /* Smooth transition */
}

/*Styling for Sub Banner with buttons*/
.subbanner {
    background-color: #495057;
    color: white;
    padding: 15px 0;
    text-align: center;
    
}

/* Title: Adding Buttons to your HTML Website
Author: OpenAI
Date: 26 May 2024 */


/*Styling for Sub Banner buttons*/
.subbanner .btn {
    margin: 0 10px;
}

.title{
    font-family: Blanquotey;
}

.heading{
    font-family: Blanquotey;
    text-align: center;
}

.texts{
    text-align: center;
}

.slide-in {
    transform: translateX(0); /* Slide into view */
}